<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel='stylesheet' type="text/css" href="static/home/css/index.css">
</head>
    
<body class="text">
    <h1>Главная страница</h1>

    <q1><a href="about/">Про нас</a></q1>
    <br>
    <br>
    <br>
    <hr>
    <br>
    <br>
    <br>    
<form action="{% url 'result' %}" method="get">Укажите возраст: 

    <input name="age">
    <br>Укажите пол: 
    <select name="gender">
        <option selected>...</option>
        <option value="male">Мужчина</option>
        <option value="female">Женчина</option>
    </select>
    <br>Введите рост: 
    <input name="hight">
    <br>Введите вес: 
    <input name="weight">
    <br>
    <button class="button-4" role="button" type="submit">Расчитать</button>
</form>
</body>
</html>